html{ 
    font-family: 'Common Pixel', sans-serif; /* Global Font */  
    font-size: 4em;                                 
}

/* ---------- Title/ Logo ---------*/ 
#main_head{ 
margin: auto;
text-align: center;
padding: 10vh;

}

header{ 
    height: 30vh;
}



/* ========================== Main body section for div that contains Play, Locked, Unlocked Button =====================*/ 


.sec1{ 
    height: 30vh;
    display: grid;
  
}


/* Container for Play, Locked, Unlocked Button  elements */
.container { 
    display: grid;
    font-size: x-large;
    margin: auto;
    
}

/*To remove all styling from links */
a{    
 text-decoration: none; 
 color: black;
 display: block;
 text-align: center; 
}

.button{ /* Background to be changed  */

    background-color: rgb(214, 233, 226);
    margin: auto;
    text-align: center;
    outline: black;
    margin-bottom: 30px;
    padding-top: 10px; 
    padding-bottom: 10px;
    padding-left: 20px; 
    padding-right: 20px;
    height: 20%;
    width: fit-content;
    height: fit-content;
    border-radius: 18px;
    box-shadow: 0 3px rgba(0, 0, 0, 0.575);
    cursor: pointer;    
    font-size: 2em;
    font-family: 'Common Pixel', sans-serif; /* Global Font */ 
}



.button:active{ 
    /* Link to next HTML page */
    box-shadow: rgba(0, 0, 0, 0.151);
    transform: translateY(2px)
}

/* ========================== MENU =====================*/ 
#menu_container{ 
    position: relative;
    display: inline-block;
    align-items: left;

}

.gg-menu{ 
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.gg-menu:hover { 
    cursor: pointer;
}

.menu_links_container{ 
    display: none;
    width: 100vw;
    height: 40vh;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.gg-menu:hover .menu_links_container{ 
    display: block;
}

.menu_links_container a { 
    background-color: skyblue;
    padding: 20px;    
}



/* ========================== BODY =====================*/  

body{ 
    background-color: #6abe30;
/* JUST TO STOP USER SELECTION/ HIGHLIGHTING */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* FOR DEBUGGIN */


*{ outline: 2px solid rgba(245, 245, 245, 0.363); }



